<div class="collection-actions">
  <% term = @service.class.terminology.data_source.titleize %>
  <%= link_to icon('plus', 'Add ' + term),
              new_configured_service_data_source_path(@service), role: :button,
              class: 'btn btn-success' %>
</div>

<% if @sources.none? %>
  <div class="panel panel-default">
    <div class="panel-body">
      No <%= @service.class.terminology.data_source.pluralize %> have been
      configured yet for <strong><%= @service.name %></strong>.
    </div>
  </div>
<% else %>
  <table class="table table-hover table-borderless">
    <tbody>
      <% @sources.each do |source| %>
        <tr>
          <td>
            <span class="member-actions">
              <%= link_to icon('pencil'),
                          edit_configured_service_data_source_path(@service, source) %>
              <%= link_to icon('trash-o', class: 'text-danger'),
                          configured_service_data_source_path(@service, source),
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete #{source.name}?" } %>
            </span>
            <%= source.name %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
