<%= render 'form_errors' %>

<%= form_tag data_sources_path, method: :post, class: 'form-horizontal' do %>
  <%= render 'form_fields' %>

  <div class="form-group">
    <div class="col-md-offset-1 col-md-11">
      <%= button_tag icon('plus', 'Add Data Source'),
                     class: 'btn btn-success' %>
      <%= link_to icon('close', 'Cancel'), data_sources_path, role: :button,
                  class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
