<div class="row">
  <div class="form-group col-md-12">
    Send an alert about the field
    <%= text_field_tag 'rule_data[field_name]', @alert.rule_data['field_name'],
                       placeholder: 'Field name', required: true,
                       class: 'form-control form-inline-input-6' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    If a data point&hellip;
    <% options = options_from_collection_for_select(@source.class.supported_rules,
                                                    :name, :title,
                                                    @alert.rule_type) %>
    <%= select_tag 'rule_type', options, class: 'form-control' %>
    <%= number_field_tag 'rule_data[value]', @alert.rule_data['value'],
                          placeholder: 'Number', required: true, step: :any,
                          class: 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    Send the alert to
    <%= email_field_tag 'email', @alert.email, placeholder: 'Email address',
                        required: true,
                        class: 'form-control form-inline-input-5' %>
  </div>
</div>
<div class="row">
  <div class="form-paragraph-text col-md-12">
    With the message
  </div>
</div>
<div class="row">
  <div class="form-group col-md-12">
    <%= text_area_tag 'message', @alert.message, placeholder: 'Message',
                      required: true,
                      class: 'form-control form-inline-input-12' %>
  </div>
</div>
