<%= form_tag integrations_path, method: :post, id: 'alert-form',
             class: 'form-inline form-paragraph' do %>
  <%= hidden_field_tag 'data_source_id', 0 %>
  <div class="row">
    <div class="form-group col-md-12">
      Send an alert about the field
      <%= text_field_tag 'rule_data[field_name]',
                         @alert.rule_data['field_name'],
                         placeholder: 'Field name', required: true,
                         class: 'form-control form-inline-input-7' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      If a data point&hellip;
      <%# TODO: Have these options support data sources other than ODK. %>
      <% options = options_from_collection_for_select(DataSources::Odk.supported_rules,
                                                      :name, :title,
                                                      @alert.rule_type) %>
      <%= select_tag 'rule_type', options, class: 'form-control' %>
      <%= number_field_tag 'rule_data[value]', @alert.rule_data['value'],
                           placeholder: 'Number', required: true, step: :any,
                           class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      Send the alert to
      <%= email_field_tag 'email', @alert.email, placeholder: 'Email address',
                          required: true,
                          class: 'form-control form-inline-input-6' %>
    </div>
  </div>
  <div class="row">
    <div class="form-paragraph-text col-md-12">
      With the message
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <%= text_area_tag 'message', @alert.message, placeholder: 'Message',
                        required: true,
                        class: 'form-control form-inline-input-12' %>
    </div>
  </div>

  <div class="alert alert-info">
    <p>Set up ODK Aggregate to publish to the following URL:</p>
    <p class="small">
      <%= tag :strong, id: 'push-url', data: {
              url: push_configured_service_data_source_url(0, 1) } %>
    </p>
  </div>

  <%= button_tag icon('plus', 'Add Integration'), class: 'btn btn-success' %>
<% end %>
