<div id="integrations-index">
  <% if @source_alerts.none? %>
    <div class="jumbotron">
      <h1>Take Action on Your Data</h1>
      <p>
        Congenial Enigma searches incoming data for patterns that interest you.
        When it identifies matching data, it takes action &mdash; notifying you
        or sending the data to another app. The result is integrated
        technologies that make the best use of the data you’re collecting.
      </p>
      <p>
        <%= link_to icon('plus', 'Add Integration'), new_integration_path,
                    role: :button, class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  <% else %>
    <div class="collection-actions">
      <%= link_to icon('plus', 'Add Integration'), new_integration_path,
                  role: :button, class: 'btn btn-success' %>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Integration</th>
          <th>Server</th>
          <th>Form</th>
          <th>Field</th>
        </tr>
      </thead>
      <tbody>
        <% @source_alerts.each do |source_alert| %>
          <% source = source_alert.data_source %>
          <% alert = source_alert.alert %>
          <tr>
            <td>
              <!-- Integration -->
              Alert
            </td>
            <td>
              <!-- Server -->
              <%= link_to source.configured_service.name,
                          edit_configured_service_path(source.configured_service) %>
            </td>
            <td>
              <!-- Form -->
              <%= link_to source.name,
                          edit_configured_service_data_source_path(source.configured_service, source) %>
            </td>
            <td>
              <!-- Field -->
              <code><%= alert.rule.field_name %></code>
            </td>
          </tr>
          <tr class="integration-details">
            <td colspan="4">
              <div class="well">
                <p>
                  If a data point <%= alert.rule.class.title %>
                  <% if alert.rule.class < Rules::Odk::NumericOperator %>
                    <% number = number_with_precision(alert.rule.value,
                                                      delimiter: ',',
                                                      strip_insignificant_zeros: true) %>
                    <strong><%= number %></strong>,
                  <% elsif alert.rule.class < Rules::Odk::StringOperator %>
                    <% if alert.rule.class == Rules::Odk::RegexpMatch %>
                      <code><%= alert.rule.value %></code>
                    <% else %>
                      <strong>&ldquo;<%= alert.rule.value %>&rdquo;</strong>
                    <% end %>

                    <% if alert.rule.case_sensitive? %>
                      (case-sensitive),
                    <% else %>
                      (case-insensitive),
                    <% end %>
                  <% else %>
                    <% raise NotImplementedError %>
                  <% end %>

                  send the following message to
                  <%= link_to alert.data_destination.name,
                              edit_configured_service_data_destination_path(alert.data_destination.configured_service, alert.data_destination) %>
                  from the
                  <% terms = alert.data_destination.configured_service.class.terminology %>
                  <%= terms.service %> <%= terms.configured_service %>
                  <%= link_to alert.data_destination.configured_service.name,
                              edit_configured_service_path(alert.data_destination.configured_service) %>:
                </p>
                <blockquote><p><%= alert.message %></p></blockquote>

                <%= link_to icon('trash-o', 'Delete'),
                            integration_path(alert.id), method: :delete,
                            role: :button, class: 'btn btn-danger',
                            data: { confirm: 'Are you sure you want to delete the alert?' } %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
