<div id="integrations-index">
  <% if @source_alerts.none? %>
    <div class="jumbotron">
      <h1>Take Action on Your Data</h1>
      <p>
        Congenial Enigma searches incoming data for patterns that interest you.
        When it identifies matching data, it takes action &mdash; notifying you
        or sending the data to another app. The result is integrated
        technologies that make the best use of the data you’re collecting.
      </p>
      <p>
        <%= link_to icon('plus', 'Add Integration'), new_integration_path,
                    role: :button, class: 'btn btn-success btn-lg' %>
      </p>
    </div>
  <% else %>
    <div class="collection-actions">
      <%= link_to icon('plus', 'Add Integration'), new_integration_path,
                  role: :button, class: 'btn btn-success' %>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><!-- Actions --></th>
          <th>Integration</th>
          <th>Server</th>
          <th>Form</th>
          <th>Field</th>
          <th>Rule</th>
          <th>Number</th>
        </tr>
      </thead>
      <tbody>
        <% @source_alerts.each do |source_alert| %>
          <% source = source_alert.data_source %>
          <% alert = source_alert.alert %>
          <tr>
            <td class="col-md-1 member-actions">
              <!-- Actions -->
              <%= link_to icon('trash-o', class: 'text-danger'),
                          integration_path(alert.id), method: :delete,
                          data: { confirm: 'Are you sure you want to delete the alert?' } %>
            </td>
            <td>
              <!-- Integration -->
              Alert
            </td>
            <td>
              <!-- Server -->
              <%= link_to source.configured_service.name,
                          edit_configured_service_path(source.configured_service) %>
            </td>
            <td>
              <!-- Form -->
              <%= link_to source.name,
                          edit_configured_service_data_source_path(source.configured_service, source) %>
            </td>
            <td>
              <!-- Field -->
              <%= alert.rule.field_name %>
            </td>
            <td>
              <!-- Rule -->
              <%= alert.rule.class.title %>
            </td>
            <td>
              <!-- Number -->
              <%= number_with_precision alert.rule.value, delimiter: ',',
                                        strip_insignificant_zeros: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
